input:invalid {
  border: 2px solid red;
}

input:valid {
  /*nothing*/
}




/*p #leimaustavat, #sarjat{
	display: block;
	clear: both;
}*/

/*p .leimaustapaValitseAinakinYksi {
	border: solid black;
	color: red;
}*/
/*
@media all and (min-width: 601px) {
	#liSarja li, #liLeimaustavat li {
	color: red;
	display: block;
	float: right;
    list-style-type: none;
    
}
	
  p {
    color: red;
  }
}*/


/* Set the background color of body to tan
.site {
	min-width: 300px;
}

#liSarja li, #liLeimaustavat li {
	color: red;
	float: right;
    list-style-type: none;
    display: inline;
    
}

#liSarja ul, #liLeimaustavat ul {
	color: red;
	float: right;
    list-style-type: none;
    display: inline-block;
    
}


@media all and (min-width: 300px) {
    body {
        overflow-x: hidden;
    }
}
*/

#teaminfoInput li {
	list-style-type: none;
}

#liLeimaustavat li {
	list-style-type: none;
}


#liSarja li {
	list-style-type: none;
}

#liJasenet li {
	list-style-type: none;
}

@media screen and (max-width: 600px) {

	#liSarja li, #liLeimaustavat li {
		float: right;
		list-style-type: none;
		display: inline;
	}
}
/* 


@media all and (min-width: 1200px) {
    #liSarja li, #liLeimaustavat li {
    display: block;
	color: green;
	float: right;
    list-style-type: none;
    
}


@media all and (min-width: 600px) {
	#liSarja ul, #liLeimaustavat ul {
		float: right;
		display: inline;
		color: red;
	}
}

@media all and (min-width: 900px) {
  p {
    width: 100%;
    color: green;
  }
}*/